/* Stili di base */
body {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: url('img/background.svg') no-repeat center center fixed;
    background-size: cover; /* Assicura che l'immagine di sfondo copra l'intera area */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column; /* Imposta il layout verticale */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    max-width: 300px;
}

.logo {
    max-width: 300px;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    color: white;
    font-size: 1.1em;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

input[type="number"] {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#loadBtn {
    background-color: #d3d3d3;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#loadBtn:hover {
    background-color: #a9a9a9;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#spinner {
    margin: 20px 0;
}

#spinner i {
    font-size: 2em;
    color: red; /* Colore dello spinner rosso */
}

#error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
}

.button-round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Aggiungi margine inferiore */
    border: none; /* Rimuove il bordino */
    box-shadow: none; /* Rimuove eventuali ombre */
    outline: none; /* Rimuove il bordo di focus */
}

.button-round i {
    font-size: 1.5em; /* Dimensione delle icone */
    border: none; /* Rimuove il bordino dalle icone */
    box-shadow: none; /* Rimuove eventuali ombre dalle icone */
    outline: none; /* Rimuove il bordo di focus dalle icone */
}

#uploadBtn {
    background-color: #d3d3d3;
}

#uploadBtn i {
    color: white;
}

#logoContainerLeft {
    position: fixed;
    bottom: 40px; /* Aggiungi spazio per il footer */
    left: 20px;
    display: flex;
    align-items: center;
}

#logoContainerRight {
    position: fixed;
    bottom: 40px; /* Aggiungi spazio per il footer */
    right: 20px;
    display: flex;
    align-items: center;
}

#fleeLogo, #spoilerLogo, #milleLogo, #officialLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* Aggiungi spazio tra i loghi */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9em;
    z-index: 1; /* Assicura che il footer sia sopra gli altri elementi */
}

/* Layout per dispositivi mobili */
@media (max-width: 768px) {
    body {
        padding: 20px;
        justify-content: flex-start; /* Inizia dalla parte superiore */
    }

    .button-round {
        width: 50px;
        height: 50px;
    }

    .button-round i {
        font-size: 1.2em; /* Dimensione delle icone ridotta per dispositivi mobili */
    }

    #logoContainerLeft {
        bottom: 35px; /* Diminuisce il margine inferiore per i dispositivi mobili */
        left: 10px; /* Diminuisce il margine sinistro per i dispositivi mobili */
    }

    #logoContainerRight {
        bottom: 35px; /* Diminuisce il margine inferiore per i dispositivi mobili */
        right: 10px; /* Diminuisce il margine destro per i dispositivi mobili */
    }

    footer {
        padding: 10px 0;
        font-size: 0.8em;
    }
}
